<div class="alert alert-primary text-center fs-3" role="alert">
    Trang đăng nhập
</div>

<div class="main">
    <h1 class="text-warning text-center">Đăng nhập</h1>
    <div class="register  m-4 ">


        <form action="/signin" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username: </label>
                <input type="text" class="form-control" id="username" name="username" required>

            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" id="password" name="password" required>

            </div>

            <button type="submit" class="btn btn-primary">Đăng nhập</button>
            <button type="submit" class="btn btn-secondary"><a href="/signup" style="text-decoration: none ; color:white;"> Đăng ký</a></button>
        </form>
        

    </div>

</div>
