
<div class="alert alert-success text-center fs-3" role="alert">
    Trang đăng ký
</div>


<div class="main">
    <h1 class="text-success text-center">Đăng ký</h1>
    <div class="register  m-4 ">
        

        <form action="/signup" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username: </label>
                <input type="text" class="form-control" id="username" name="username" required>

            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" id="password" name="password" required>

            </div>
            <div class="mb-3">
                <label for="fullname" class="form-label">Họ và tên: </label>
                <input type="text" class="form-control" id="fullname" name="fullname" required>

            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            

            <button type="submit" class="btn btn-primary">Đăng ký</button>
            <button type="submit" class="btn btn-secondary"><a href="/signin" style="text-decoration: none ; color:white;"> Đăng nhập</a></button>
        </form>
        

    </div>

</div>
