<nav class="navbar navbar-expand-lg bg-info " style="--bs-bg-opacity: .5;">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 border-end border-3 pe-3" href="/home">Home </a>
        
        
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link navbar-brand fs-4" aria-current="page" href="#">Thể loại</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand fs-4" aria-current="page" href="#">Quốc gia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand fs-4" aria-current="page" href="#">Năm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand fs-4" aria-current="page" href="#">Bảng xếp hạng</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-brand" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Phim mới
                    </a>
                    <ul class="dropdown-menu">
                        <li>Phim Trung</li>
                        <li>Phim Hàn</li>
                        <li>Phim Mỹ</li>
                    </ul>
                </li>
                
                {{#if login}}
                    <li class="nav-item">
                        <button type="button" class="btn btn-warning mx-2">
                            <a class="nav-link navbar-brand" aria-current="page" href="/logout">Log out</a>
                        </button>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary mx-2 ">
                            <a class="nav-link navbar-brand" aria-current="page" href="/signin">Sign in</a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-warning mx-2">
                            <a class="nav-link navbar-brand" aria-current="page" href="/signup">Sign up</a>
                        </button>
                    </li>
                {{/if}}

                
                
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>