<h1>TEST</h1>
<iframe class="video" src="https://www.youtube.com/embed/msizPweg3kE" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>

<h3>COMMENT SESSION</h3>
<div class="fb-comments" data-href="https://www.youtube.com/embed/msizPweg3kE" data-width="100%" data-numposts="5">
</div>

<style>
    .video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
</style>