<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./homepage.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./script.js"></script>
</head>

<body>
    <div class="container">
        <div class="header d-flex justify-content-between ">
            <button class="btn btn-primary">Home</button>


            <div class='search-box'>
                <form class='search-form'>
                    <input class='form-control' placeholder='Tên phim, diễn viên,...' type='text'>
                    <button class='btn btn-link search-btn'>
                        <i class='glyphicon glyphicon-search'></i>
                    </button>
                </form>
            </div>





            <div>
                <div class="dropdown">
                    <h5 class="dropdown-toggle" data-bs-toggle="dropdown"> Quản lý phim</h5>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <h5 class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </h5>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>




            <button class="btn btn-primary">User</button>

        </div>
        <nav class="navbar mx-auto ">
           
                <div class="navbar-nav d-flex flex-row  justify-content-center">
                    <a class="nav-link" href="#">Phim lẻ</a>
                    <a class="nav-link" href="#">Phim bộ</a>
                    <a class="nav-link" href="#">Thể loại</a>
                    <a class="nav-link">Quốc gia</a>
                    <a class="nav-link" href="#">Năm</a>
                </div>
           

        </nav>
        <div class="main row">
            
            <div class="list-movies col-9  "   id= "list" style="background-color: aqua;">
                <div class="list-name">Phim mới</div>
            </div>
            <div class="bxh col-3" style="background-color:bisque;">
                <div class="fs-1 m-3" style="color: red;">Bảng xếp hạng</div>
                <div class="bxh-list m-3 d-flex">
                    <h4 class="m-3" style="padding-top: 50px ">123</h4>
                    <img src="https://innovavietnam.vn/wp-content/uploads/poster-561x800.jpg" alt="poster" style="width: 10rem">
                    <h5 class="m-3">Tên phim</h5>
                    <div class="m-3" style="padding-top: 90px ">❤Tim </div>
                </div>
                <div class="bxh-list m-3 d-flex">
                    <h4 class="m-3" style="padding-top: 50px ">123</h4>
                    <img src="https://innovavietnam.vn/wp-content/uploads/poster-561x800.jpg" alt="poster" style="width: 10rem">
                    <h5 class="m-3">Tên phim</h5>
                    <div class="m-3" style="padding-top: 90px ">❤Tim </div>
                </div>
                <div class="bxh-list m-3 d-flex">
                    <h4 class="m-3" style="padding-top: 50px ">123</h4>
                    <img src="https://innovavietnam.vn/wp-content/uploads/poster-561x800.jpg" alt="poster" style="width: 10rem">
                    <h5 class="m-3">Tên phim</h5>
                    <div class="m-3" style="padding-top: 90px ">❤Tim </div>
                </div>
                <div class="bxh-list m-3 d-flex">
                    <h4 class="m-3" style="padding-top: 50px ">123</h4>
                    <img src="https://innovavietnam.vn/wp-content/uploads/poster-561x800.jpg" alt="poster" style="width: 10rem">
                    <h5 class="m-3">Tên phim</h5>
                    <div class="m-3" style="padding-top: 90px ">❤Tim </div>
                </div>

            </div>
        </div>



        <div class="footer">footer</div>
    </div>
</body>

</html>