.container {
    width: 1200px;
}

.header {
    background-color: #3C4BD1;
}
.footer {
    background-color: #3C4BD1;
    height: 60px;
    color: #fff;
    font-size: 2em;
    text-align: center;
}
.search-box {
    display: inline-block;
    width: 60%;
    height: 40px;
    margin: auto;
    border-radius: 30px;
    padding: 4px 55px 4px 15px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.search-box.hovered,
.search-box:hover,
.search-box:active {
    border: 1px solid #aaa;
}

.search-box input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;
}

.search-box input[type=text]:hover,
.search-box input[type=text]:focus,
.search-box input[type=text]:active {
    box-shadow: none;
}

.search-box .search-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #aaa;
    border-radius: 30px;
    font-size: 18px;
    padding: 5px 10px 1px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.search-box .search-btn:hover {
    color: #fff;
    background-color: #3C4BD1;
}

.dropdown {
    color: #fff;
}
.nav-link {
    padding: 0px 20px ;

    color: #fff;
}
.navbar {
    width: 40%;
    background-color: #3E63E8;
}
.episode {
    background-color:#D12D2D;
    color: #fff;
    position: absolute;
    width: 60px;
    border-radius: 3px;
    padding: 2px 0px 2px 4px;
    top: 5px;
    left: 10px;
}
.card {
    margin: 10px ;
}
.list-name{
    color: #3E63E8;
    font-size: 2em;
    margin: 3px;

}

/* =================  Forgot Password * =================   */

.forgot-pass-box {
    background-color: #D9D9D9;
    border-radius: 30px;
    width: 50%;
    height: 30%;
    margin: 30px;
    padding: 50px;

}
#forgot-pass-btn {
    background-color: #9671FF;
    border: none;
    border-radius: 20px;
    width: 70%;
    color: #fff;
    margin:  10px 50px 10px 50px;
    padding: 10px;

}

#forgot-pass-email {
    
    border-radius: 20px;
    border: none;
    width: 90%;
    margin: 10px 30px 10px 30px;
    padding: 10px ;

}
