<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./homepage.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./script.js"></script>
</head>

<body>
    <div class="container">
        <div class="header d-flex justify-content-between ">
            <button class="btn btn-primary">Home</button>


            <div class='search-box'>
                <form class='search-form'>
                    <input class='form-control' placeholder='Tên phim, diễn viên,...' type='text'>
                    <button class='btn btn-link search-btn'>
                        <i class='glyphicon glyphicon-search'></i>
                    </button>
                </form>
            </div>





            <div>
                <div class="dropdown">
                    <h5 class="dropdown-toggle" data-bs-toggle="dropdown"> Quản lý phim</h5>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <h5 class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </h5>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>




            <button class="btn btn-primary">User</button>

        </div>
        <nav class="navbar mx-auto ">
           
                <div class="navbar-nav d-flex flex-row  justify-content-center">
                    <a class="nav-link" href="#">Phim lẻ</a>
                    <a class="nav-link" href="#">Phim bộ</a>
                    <a class="nav-link" href="#">Thể loại</a>
                    <a class="nav-link">Quốc gia</a>
                    <a class="nav-link" href="#">Năm</a>
                </div>
           

        </nav>
        <div class="main row">
            
            <div class=" col-3  "   id= "update-movie-info" style="background-color: aqua;">
                <div class="list-name">Thông tin phim</div>
                <div class="card position-relative col-3" style="width: 18rem">
                    <img src="https://innovavietnam.vn/wp-content/uploads/poster-561x800.jpg" class="card-img-top" alt="poster">
                
                    <div class="episode">
                        99+
                    </div>
                
                </div>
                <button class="btn btn-danger">Xem phim</button>
                <div class="rating">Đánh giá</div>
                <div class="viewCount">Lượt xem</div>
            </div>
            <div class="update-movie-form col-9" style="background-color:bisque;">
                <div class="fs-1 m-3" style="background-color: blueviolet; color: red;">Tên phim : PHim asodiaosdija </div>
                <form action="" method="post" enctype="multipart/form-data" id="form-update">
                    <div class="mb-3">
                        <label for="title" class="form-label">Tên phim: </label>
                        <input type="text" class="form-control" id="title" name="title" required>
                        <label for="genres" class="form-label">Thể loại: </label>
                        <input type="text" class="form-control" id="genres" name="genres" required>
                        <label for="country" class="form-label">Quốc gia:  </label>
                        <input type="text" class="form-control" id="country" name="country" required>
                        <label for="cast" class="form-label">Diễn viên: </label>
                        <input type="text" class="form-control" id="cast" name="cast" required>
                        <label for="director" class="form-label">Nhà sản xuất: </label>
                        <input type="text" class="form-control" id="director" name="director" required>
                        <label for="synopsis" class="form-label">Nội dung:  </label>
                        <input type="text" class="form-control" id="synopsis" name="synopsis" required>
                        
                        <label for="formFileMultiple" class="form-label">Hình ảnh: </label>
                        <input class="form-control" type="file" id="formFileMultiple" name="img"  multiple>
                        <label for="source" class="form-label">source: </label>
                        <input type="text" class="form-control" id="source" name="source" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Sửa</button>
        
                </form>

            </div>
        </div>



        <div class="footer">footer</div>
    </div>
</body>

</html>