<div class="add-movie-form ">

    <div class="form-add">
        <h2> Nội dung phim</h2>
        <form action="/addMovie" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Tên phim: </label>
                <input type="text" class="form-control" id="title" name="title" required>
                <label for="genres" class="form-label">Thể loại: </label>
                <input type="text" class="form-control" id="genres" name="genres" required>
                <label for="country" class="form-label">Quốc gia: </label>
                <input type="text" class="form-control" id="country" name="country" required>
                <label for="cast" class="form-label">Diễn viên: </label>
                <input type="text" class="form-control" id="cast" name="cast" required>
                <label for="director" class="form-label">Đạo diễn: </label>
                <input type="text" class="form-control" id="director" name="director" required>
                <label for="year" class="form-label">Năm sản xuất: </label>
                <input type="number" max="2024" min="1900" class="form-control" id="year" name="year" required>
                <label for="synopsis" class="form-label">Nội dung: </label>
                <input type="text" class="form-control" id="synopsis" name="synopsis" required>

                <label for="img" class="form-label">Hình ảnh:</label>
                <input type="text" class="form-control" id="img" name="img" required>
                <label for="source" class="form-label">Video: </label>
                <input type="text" class="form-control" id="source" name="source" required>
            </div>
            <button type="submit">Thêm</button>


        </form>

    </div>


</div>
<script>
    var info = `{{ notification }}`;
    console.log("info: ", info);
    if (info) {
        alert(info);
    }

</script>