<div class="header d-flex justify-content-between rounded ">
    <a class="navbar-brand text-white" href="/home"><img src="/img/Home_fill.svg" alt=""></a>

    <div class='search-box'>
        <form class='search-form' action="/search" method="post">
            <input class='form-control' placeholder='Tên phim, diễn viên,...' type='text' name="input">
            <button class='btn btn-link search-btn' type="submit">
                <i class='glyphicon glyphicon-search'></i>
            </button>
        </form>
    </div>

    {{#if loggedIn}}
    {{#if isAdmin}}
    <div>
        <div class="dropdown">
            <h5 class="dropdown-toggle" data-bs-toggle="dropdown"> Quản lý phim</h5>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/addMovie">Thêm phim</a></li>
                <li><a class="dropdown-item" href="/deleteMovie/1">Xóa phim</a></li>
                <li><a class="dropdown-item" href="/updateMovie/1">Cập nhật phim</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <h5 class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Quản lý tài khoản
            </h5>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/addAccounts">Thêm tài khoản</a></li>
                <li><a class="dropdown-item" href="/listAccounts">Xóa tài khoản</a></li>
                <li><a class="dropdown-item" href="/listAccounts">Cập nhật tài khoản</a></li>
            </ul>
        </div>
    </div>
    {{/if}}
    <div class="dropdown">
        <a class="navbar-brand text-white dropdown-toggle" data-bs-toggle="dropdown" href="/home"><img
                src="/img/User_cicrle_duotone.svg" alt=""></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/profile">Thông tin cá nhân</a></li>
            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
        </ul>
    </div>
    {{else}}
    <button type="button" class="btn btn-link text-light" onclick="window.location.href='/login'">Đăng nhập</button>
    <button type="button" class="btn btn-link text-light" onclick="window.location.href='/register'">Đăng ký</button>
    {{/if}}



</div>

<style>
    .header {
        background-color: #3C4BD1;
    }

    .search-box {
        display: inline-block;
        width: 60%;
        height: 40px;
        margin: auto;
        border-radius: 30px;
        padding: 4px 55px 4px 15px;
        position: relative;
        background: #fff;
        border: 1px solid #ddd;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }

    .search-box.hovered,
    .search-box:hover,
    .search-box:active {
        border: 1px solid #aaa;
    }

    .search-box input[type=text] {
        border: none;
        box-shadow: none;
        display: inline-block;
        padding: 0;
        background: transparent;
    }

    .search-box input[type=text]:hover,
    .search-box input[type=text]:focus,
    .search-box input[type=text]:active {
        box-shadow: none;
    }

    .search-box .search-btn {
        position: absolute;
        right: 2px;
        top: 2px;
        color: #aaa;
        border-radius: 30px;
        font-size: 18px;
        padding: 5px 10px 1px;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }

    .search-box .search-btn:hover {
        color: #fff;
        background-color: #3C4BD1;
    }

    .dropdown {
        color: #fff;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

