<script src="js/index.js"></script>

<div class="container">
    <header>
        {{> header}}
    </header>

    <div class="m-2">
        {{> delete-movie-list}}
    </div>

    <footer>
        {{> footer}}
    </footer>
</div>