<link rel="stylesheet" href="/css/style.css">

<body>
    <div class="container">
        <div class="forgot-pass-box mx-auto">
            <div class="bar d-flex justify-content-between">
                <a href="#" style="text-decoration: none;"> Quên mật khẩu?</a>
                <a href="/login" style="text-decoration: none;">x</a>
            </div>
            <div class="fotgot-pass-info m-3">
                <p>Vui lòng nhập vào Email tài khoản của bạn. Chúng tôi sẽ gửi cho bạn một đường link xác nhận và mật
                    khẩu mới qua Email của bạn.</p>
            </div>
            <form action="">
                <input type="text" name="username" id="forgot-pass-email" placeholder="username">
                <input type="email" name="email" id="forgot-pass-email" placeholder="Email">

            </form>
            <button type="submit" id="forgot-pass-btn">Gửi mật khẩu qua email</button>

        </div>

    </div>

</body>