<script src="js/index.js"></script>

<div class="container">
    <header>
        {{> header}}
    </header>
    
    <div class="m-2">
        {{> homepage}}
    </div>
    
    <footer>
        {{> footer}}
    </footer>
</div>