<link rel="stylesheet" href="css/login-register.css">

<div class="wrapper">
    <div class="logo">
        <img src="img/maki_cinema.svg" alt="">
    </div>
    <form action="/login" method="POST" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <img src="img/user.svg" alt="">
            <input type="text" name="username" id="username" placeholder="tên đăng nhập">
        </div>
        <div class="form-field d-flex align-items-center">
            <img src="img/lock.svg" alt="">
            <input type="password" name="password" id="password" placeholder="mật khẩu">
        </div>
        <small>{{notification}}</small>
        <!--  -->
        <button class="btn mt-3" type="submit">Đăng nhập</button>
    </form>
    <div class="text-end fs-6">
        <a href="/forgetPassword">Quên mật khẩu?</a>
    </div>
    <div class="text-center text-light fs-6 mt-3">
        Bạn chưa có tài khoản?
        <a href="/register">Đăng ký</a>
    </div>
</div>