<script src="js/index.js"></script>
<link rel="stylesheet" href="/css/style.css">

<div class="container">
    <header>
        {{> header}}
    </header>

    <div class="m-2 row">
        {{> form-update-movie}}
    </div>

    <footer>
        {{> footer}}
    </footer>
</div>