
<div class="row">
    <div class="col-12">
        {{>nav}}
    </div>
</div>
<div class="row my-2">
    
    <div class="col-12">
        <div class="card h-100">
            <h5 class="card-header text-primary">
                Main
            </h5>
            <div class="h-100" >
                
            </div>
        </div>
    </div>

</div>
