
<div class="row">
    <div class="col-12">
        {{>nav}}
    </div>
</div>
<div class="row my-2">
    
    <div class="col-12">
        <div class="card h-100">
            <h5 class="card-header text-primary">
                Main
            </h5>
            <div class="card-body d-flex flex-column">
                {{>form-register}}
            </div>
        </div>
    </div>

</div>
